/*** Custom properties ***/

:root {
    /* Colors B & W */
    --black: #000;
    --color-white: #fff;
    --color-background: #f6f6f9;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-info-dark: #7d8da1;
    /* box-shadow */
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
    /* Blues */
    --color-blue-sky: #9fc1d9;
    --color-blue-soft: #346486;
    --color-blue-marine: #223e76;
    --color-blue-ocean: #142444;
    /* Purples */
    --color-purple-soft:#9E72C3;
    --color-purple-normal:#924DBF;
    --color-purple-softdark:#7338A0;
    --color-purple-dark: #4A2574;

    /* Fonts */
    --primary-font: 'Poppins', sans-serif;
}

/*** Reset ***/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--primary-font);
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    transition: all .5s ease-out;
}

a:hover {
    color: black;
    font-size: 1.1rem;
    opacity: 1;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button, input {
    outline: none;
    transition: opacity .5s ease-out;
}

button:hover {
    opacity: .8;
}

/*** Utilities ***/

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}

/*** Site properties ***/

/* sidebar */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 7%;
    height: 100vh;
    position: fixed;
    /* border: 1px solid red; */
    transition: width .1s ease-out;
    z-index: 999;
    background-color: var(--color-blue-ocean);
}

.sidebar:hover {
    width: 15%;
}

.nav {
    height: 100%;
    /* border: 1px solid aqua */
}

.nav-logo {
    width: 100%;
    /* border: 1px solid black; */
    height: 8vh;
}

.nav-logo a {
    width: 100%;
}

.nav-links{
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh
}

.nav-links-hover {
    width: 100%;
    height: 80vh;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.link {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid aqua */
}

.link-hover {
    height: 10%;
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.link-img {
    height: 25%;
    width: 100%;
    /* border: 1px solid red; */
}

.link-img-hover {
    margin-right: .8rem;
    /* border: 1px solid red; */
}

.link p {
    height: 35%;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: .5rem;
    font-size: .74rem;
    font-weight: bold;
    color: var(--color-blue-sky);
}

.link-hover p {
    color: var(--color-blue-sky);
}

.svg-sidebar {
    fill: #9E72C3;
}
/* MAIN SECTION */

main {
    width: 100%;
    border: 1px solid red;
    padding-left: 10%
}

section {
    width: 80%;
    height: 40vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 3.8rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
